:root .avatarDecoration__44b0c,
:root .videoContainer__4bbc6,
:root .profileEffects__01370,
:root .avatarDecoration_c19a55,
:root .clanTag__972a0,
:root .clanTag__07f91,
:root .clanTagChiplet_c19a55,
:root .effectsWrapper__78936 {
    display: none;
}

:root .tile__2f4f7.tile__90dc5 {
    background-image: none !important;
}

:root .container__4bbc6 {
    background: inherit !important;
}


:root div.topControls_bfe55a.controlSection_bfe55a > div > div.headerWrapper_cb9592 > div.subtitleContainer__49508 > div.wrapper__19b5e {
    display: none;
}